@charset "UTF-8";

/*inicio da configuração do body*/

body {
	background-color: #ffffff;
	background-position: center;
	background-size: cover;
    width: 1000px;
    margin: auto;

}
/*fim  da configuração do body*/

/*inicio da configuração do menu nav*/


nav#menu {
	display: block;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	left: 370px;
}

nav#menu li {
	display: inline-block;
	background-color: #cab2cb;
	padding: 15px;
	margin: 4px;
	transition: background-color 1s;
}
nav#menu li:hover{
	background-color: #af3a3a;
    
}

nav#menu h1 {
	display: none;

}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;

}
/*fim da configuração do menu na*/



/*incio da configuração da div interface*/
div#interface {
width: 1200;
background-color: #ffffff;
margin: 0px auto 0px auto;
box-shadow: 0px 0px 10px black;
margin: 10px auto 0px auto;
padding: 50px;
text-align: justify;

}
figure#central {
    margin: 40px auto 0px auto;
}
figure#central img {
width: 700px;
margin-left: 100px;
}

/*fim da configuração da div interface*/



/*inicio da configuração do cabeçalho*/
header#cabecalho {
    position: relative;
    height: 170px;
    background-color: #ffffff;
    background: url(../) no-repeat 0px 0px;
    border-bottom: #606060 2px solid;
    box-shadow: 0px 0px 10px black;
    margin-top: 60px;

}



header#cabecalho h1 {
    margin-left: 340px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
    background-color: #ba92b0;
    
}
header#cabecalho h2 {
    margin-left: 250px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px black;
    background-color: #cfb5dd;
}



/*fim da configuração do cabeçalho*/

hgroup#tex {
    margin-left: 120px;
}

/*inicio da configuração da abelha pulando*/
figure#mastercel img {
    position: absolute;
    float: 40px 40px;
    margin-left: 600px;
    margin-top: 1450px;
    width: 200px;
}

figure#sorriso img {
    position: absolute;
    float: 40px 40px;
    margin-left: 200px;
    margin-top: -100px;

    

}
figure#sorriso img {
     width: 250px;
     background-size: none ;
     mix-blend-mode:normal;
}

figure#sorria img {
    position: absolute;
    float: 40px 40px;
    margin-left: 600px;
    margin-top: -590px;
    width: 250px;
}
    figure#yasmim img {
        width: 170px;
        position: absolute;
        float:left ;
        margin-top: -500px;
        margin-left:-30px;
    }





figure#clique1 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 10px;
    width: 300px;

}

figure#clique2 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 290px;
    width: 300px;

}
figure#clique3 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 580px;
    width: 300px;

}
figure#clique4 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 850px;
    width: 300px;

}
figure#clique5 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 1130px;
    width: 300px;
}
figure#clique6 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 580px;
    margin-top: 1400px;
    width: 300px
}
figure#clique7 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 700px;
    margin-top: 1785px;
    width: 200px
}



/*fimda configuração da abelha pulando*/


/*inicio da configuração do hgroup direito*/
hgroup#esquerda {
    margin: 0px auto 0px 30px;
    padding: 0px auto 0px auto;

}
hgroup#iframe {
    margin: 150px;
}
figure.incentivo{
    position: relative;
    border: 1px solid rgb(203, 187, 187);
    box-shadow: 1px 1px 4px black ;
    border-radius: 50px;

}
figure.incentivo {
    width: 100%;
    height: 100%;
}
 

figure.incentivo figcaption {
       position: absolute;
       top: 0px;
       border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 52%;
height: 100%;
left: 48%;
padding: 15px;
box-sizing: border-box;
transition: opacity 1s;
border-radius: 50px;
   }
   figure.incentivo figcaption {
    text-align: left;
    text-underline-position: auto;
   }

   figure.incentivo:hover figcaption {
    opacity: 9;
   }
  figure.incentivo2 img {
    width: 200px;
  }

/*fim daconfiguração do hgroup direito*/

/*inicio da configuração do hgroup esquedo*/

hgroup#direito {
    margin: 30px;
    padding: 0px auto 0px auto;
}

figure.incentivod {
    border:1px solid #ffffff;
    box-shadow: 1px 1px 4px black;

}
figure.incentivod figcaption {
    position: absolute;
    top: 0px;
    background-color: #000000;
    position: relative;
}


figure.incentivod img {
    width: 50%;
    height: 50%;
    margin-left: 500px;
}
/*fim da configuração do hgroup direito*/
figure.incentivod figcaption {
    position:relative;
    margin-left: 0px;
    top: 0px;
    border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
transition: opacity 1s;

}
figure.incentivod figcaption {
 text-align: left;
 text-underline-position: auto;
}
 figure.incentivod:hover figcaption {
    opacity: 9;
   }



/*incio da configuração da section*/
section#esquerda {
    display: block;
    width: 460px;
    box-shadow: 0px 0px 10 black;
    margin-top: -20px;

}
@media(max-width: 1200px) {
    section#esquerda {
        width: 1000;
    }
}

@media(max-width: 1024px) {
    section#esquerda {
        width: 700px;
    }
  }
    @media(max-width: 768px) {
        section#esquerda {
          width: 400px;
    }
}
   
@media(max-width: 425px) {
    section#esquerda {
        width: 120px;
    }
}

hgroup#pagina1 {
    padding: 30px;
    text-align: justify;
}

/*fim da configuração da section*/





p#avancar {
    margin-left: 650px;
    width: 20%;
    position: absolute;
    float: right;
    margin-top: -180px;


}
p#voltar {
    width: 20%;

}


/*incio da configuração do rodape*/
footer#rodape {
    height: 80px;
    border-top: #dddddd 2px solid;
    clear:both;
text-align: center;

}


/*fim daconfiguração do rodapé*/



/*seção de propaganda*/

