@charset "UTF-8";

/*inicio da configuração do body*/

body {
	background-color: #ffffff;
	background-position: center;
	background-size: cover;
    width: 1000px;
    margin-left: 50pxpx;

}
/*fim  da configuração do body*/

/*inicio da configuração do menu nav*/


nav#menu {
	display: block;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 50px;
}

nav#menu li {
	display: inline-block;
	background-color: #cab2cb;
	padding: 7px;
	margin: 4px;
	transition: background-color 1s;
}
nav#menu li:hover{
	background-color: #af3a3a;
    
}

nav#menu h1 {
	display: none;

}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;

}
/*fim da configuração do menu na*/



/*incio da configuração da div interface*/
div#interface {
width: 1200;
background-color: #ffffff;
margin: 0px auto 0px auto;
box-shadow: 0px 0px 10px black;
margin: 10px auto 0px auto;
padding-left: 30px;

}
/*fim da configuração da div interface*/



/*inicio da configuração do cabeçalho*/
header#cabecalho {
    position: relative;
    height: 170px;
    background-color: #ffffff;
    background: url(../imagens/bemvindo1.jpg) no-repeat 0px 0px;
    border-bottom: #606060 2px solid;
    box-shadow: 0px 0px 10px black;
    margin-top: 40px;
}



header#cabecalho h1 {
    margin-left: 380px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
    background-color: #ba92b0;
    
}
header#cabecalho h2 {
    margin-left: 260px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px black;
    background-color: #cfb5dd;
}



/*fim da configuração do cabeçalho*/

/*inicio da configuração da abelha pulando*/
figure#abelha_pulando  {
    position: absolute;
    float: 100px 50px;
    margin-left: 700px;
    margin-top: -200px;
    width: 10%;
    height: 10%;
}
/*fimda configuração da abelha pulando*/


/*inicio da configuração do hgroup direito*/
hgroup#esquerda {
    margin: 0px auto 0px 30px;
    padding: 0px auto 0px auto;
}
figure.incentivo{
    position: relative;
    border: 1px solid rgb(203, 187, 187);
    box-shadow: 1px 1px 4px black ;
}
figure.incentivo {
    width: 100%;
    height: 100%;
}
 

figure.incentivo figcaption {
       position: absolute;
       top: 00px;
       border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 52%;
height: 100%;
left: 48%;
padding: 15px;
box-sizing: border-box;
transition: opacity 1s;
   }
   figure.incentivo figcaption {
    text-align: left;
    text-underline-position: auto;
   }

   figure.incentivo:hover figcaption {
    opacity: 9;
   }
  

/*fim daconfiguração do hgroup direito*/

/*inicio da configuração do hgroup esquedo*/

hgroup#direito {
    margin: 30px;
    padding: 0px auto 0px auto;
}

figure.incentivod {
    border:1px solid #ffffff;
    box-shadow: 1px 1px 4px black;

}
figure.incentivod figcaption {
    position: absolute;
    top: 0px;
    background-color: #000000;
    position: relative;
}


figure.incentivod img {
    width: 50%;
    height: 50%;
    margin-left: 500px;
}
/*fim da configuração do hgroup direito*/
figure.incentivod figcaption {
    position:relative;
    margin-left: 0px;
    top: 0px;
    border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
transition: opacity 1s;

}
figure.incentivod figcaption {
 text-align: left;
 text-underline-position: auto;
}
 figure.incentivod:hover figcaption {
    opacity: 9;
   }



/*incio da configuração da section*/
section#esquerda {
    display: block;
    width: 460px;
    box-shadow: 0px 0px 10 black;
    margin-top: -20px;
    float: left;
}
@media(max-width: 1200px) {
    section#esquerda {
        width: 1000;
    }
}

@media(max-width: 1024px) {
    section#esquerda {
        width: 700px;
    }
  }
    @media(max-width: 768px) {
        section#esquerda {
          width: 400px;
    }
}
   
@media(max-width: 425px) {
    section#esquerda {
        width: 120px;
    }
}

@media(max-width: 1200px) {
    aside#direita {
        width: 500px;
    }
}

@media(max-width: 1024px) {
    aside#direita {
        width: 700px;
    }
  }
    @media(max-width: 768px) {
        aside#direirta {
          width: 400px;
    }
}
   
@media(max-width: 425px) {
    aside#direita {
        width: 120px;
    }
}

/*fim da configuração da section*/

/*inicio da configuração do aside*/
aside#direita {
	display: block;
	width: 20pxpx;
	float: right;
    margin-top: 0px;
    margin-left: 900px;
}


/*fim daconfiguração do aside*/

p#voltar img {
    width: 50%;
}
p#avancar img {
    width: 50%;
    margin-left: 700px;
}


/*incio da configuração do rodape*/
footer#rodape {
    height: 80px;
    border-top: #dddddd 1px solid;
    clear:both;
text-align: center;

}


/*fim daconfiguração do rodapé*/
