
/*inicio da configuração do body*/
body {
        background-color: #ffffff;
	background-size: cover;
    width: 1000px;
    margin: auto;
    border-radius: 20px;
    padding: 50px;



}
div#arame-de-caderno img {
    width: 1000px;
  
}


/*inicio da configuração do menu nav*/


nav#menu {
	display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 150px;
	left: 370px;
}

nav#menu li {
	display: inline-block;
	background-color: #cab2cb;
	padding: 15px;
	margin: 4px;
	transition: background-color 1s;
	border-radius: 10px;
}
nav#menu li:hover{
	background-color: #f2ec95;
    
}

nav#menu h1 {
	display: none;

}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;

}



/*incio da configuração da div interface*/
div#interface {
width: 1200;
margin: 0px auto 0px auto;
margin: 10px auto 0px auto;
padding: 80px;
text-align: justify;
border-radius: 20px;
margin-top: 300px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}
figure#central {
    margin: 40px auto 0px auto;
}
figure#central img {
width: 500px;
margin-left: 0px;
}




figure#home img {
    width: 250px;
    position: absolute;
    margin-top: -70px;
    margin-left:-30px;
    display: block 1px ;
    box-shadow: 1px 1px 4px black;
    border-radius: 50%;
    
}



/*inicio da configuração da abelha pulando*/
figure#mastercel img {
    position: absolute;
    float: 40px 40px;
    margin-left: 600px;
    margin-top: 1450px;
    width: 200px;
    border-radius: 50px;
}

figure#sorriso img {
    position: absolute;
    float: 40px 40px;
    margin-left: 200px;
    margin-top: -100px;
    border-radius: 50px;

    

}
figure#sorriso img {
     width: 250px;
     background-size: none ;
     mix-blend-mode:normal;
     border-radius: 50px;
}

figure#sorria img {
    position: absolute;
    float: 40px 40px;
    margin-left: 600px;
    margin-top: -590px;
    width: 250px;
    border-radius: 50px;
}
   




figure#clique1 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 10px;
    width: 300px;

}

figure#clique2 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 290px;
    width: 300px;

}
figure#clique3 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 580px;
    width: 300px;

}
figure#clique4 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 850px;
    width: 300px;

}
figure#clique5 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 600px;
    margin-top: 1130px;
    width: 300px;
}
figure#clique6 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 610px;
    margin-top: 1400px;
    width: 300px
}
figure#clique7 img {
    position: absolute;
    float: 50px 50px;
    margin-left: 620px;
    margin-top: 1700px;
    width: 200px
}


/*fimda configuração da abelha pulando*/


/*inicio da configuração do hgroup direito*/
hgroup#esquerda {
    margin: 0px auto 0px 30px;
    padding: 0px auto 0px auto;
    position: relative;

}
hgroup#iframe {
    margin: 150px;
    border-radius: 50px;

}
figure.incentivo{
    position: relative;
    border: 1px solid rgb(203, 187, 187);
    box-shadow: 1px 1px 4px black ;
    background-image: url(../imagem-fundo/caderno-fundo0.png);
background-size: cover;
background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
figure.incentivo {
    width: 100%;
    height: 100%;
    border-radius: 50px;


}
 

figure.incentivo figcaption {
       position: absolute;
       top: 0px;
       border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 52%;
height: 100%;
left: 48%;
padding: 15px;
box-sizing: border-box;
transition: opacity 1s;
border-radius: 50px;
   }
   figure.incentivo figcaption {
    text-align: left;
    text-underline-position: auto;
   }

   figure.incentivo:hover figcaption {
    opacity: 9;
   }
  figure.incentivo2 img {
    width: 200px;
  }
figure.incentivo img {
border-radius: 50px;
}
img#fotoindice {
    border-radius: 50px;
    box-shadow: 2px 2px 4px black; 


}
img#fotopropaganda {
    border-radius: 50px;
    box-shadow: 2px 1px 4px solid black;
}

/*fim daconfiguração do hgroup direito*/

/*inicio da configuração do hgroup esquedo*/

hgroup#direito {
    margin: 30px;
    padding: 0px auto 0px auto;
}

figure.incentivod {
    border:1px solid #ffffff;
    box-shadow: 1px 1px 4px black;


}
figure.incentivod figcaption {
    position: absolute;
    top: 0px;
    background-color: #000000;
    position: relative;
}


figure.incentivod img {
    width: 50%;
    height: 50%;
    margin-left: 500px;
}
/*fim da configuração do hgroup direito*/
figure.incentivod figcaption {
    position:relative;
    margin-left: 0px;
    top: 0px;
    border: 10px;
background-color: rgba(240, 228, 97, 0.853);
opacity: 0;
color: #ffffff;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
transition: opacity 1s;

}
figure.incentivod figcaption {
 text-align: left;
 text-underline-position: auto;
}
 figure.incentivod:hover figcaption {
    opacity: 9;
   }



/*incio da configuração da section*/
section#esquerda {
    display: block;
    width: 590px;
    box-shadow: 0px 0px 10 black;
    margin-top: 300px;

}


/*fim da configuração da section*/





p#avancar {
    margin-left: 650px;
    width: 20%;
    position: absolute;
    float: right;
    margin-top: -170px;


}
p#voltar {
    width: 20%;
    margin-left: 30px;

}


/*incio da configuração do rodape*/
footer#rodape {
    height: 80px;
    border-top: #dddddd 2px solid;
    clear:both;
text-align: center;

}


/*fim daconfiguração do rodapé*/



/*seção de propaganda*/

